# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/
dist/

# React Native / Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/

# React Native / iOS
ios/Pods/
ios/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*

# Editor
.vscode/
.idea/

# Bundler / Metro
.cache/
metro-cache/

# EAS local build temp
**/eas-build-local-nodejs/**

# APKs and artifacts
*.apk
*.aab
*.ipa
*.app.dSYM.zip
*.mapping.txt

# Misc
coverage/
.tmp/
